@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth;
  -webkit-user-drag: none; /* For Chrome and Safari */
  -khtml-user-drag: none; /* For older Konqueror browsers */
  -moz-user-drag: none; /* For Firefox */
  -o-user-drag: none; /* For Opera */
}
